{% extends "layout.html" %}
  {% block body %}



<section class="ftco-section ftco-about img">
 <div class="container">
  <div class="row d-flex">
   <div class="col-md-12 about-intro">
    <div class="row">
     <div class="col-md-6 d-flex">
      <div class="d-flex about-wrap">
       <div class="img d-flex align-items-center justify-content-center" style="background-image:url( {{url_for('static', filename='images/about-1.jpg')}}  );">
       </div>
       <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url({{url_for('static', filename='images/about.jpg')}} );">
       </div>
     </div>
   </div>
   <div class="col-md-6 pl-md-5 py-5">
    <div class="row justify-content-start pb-3">
      <div class="col-md-12 heading-section ftco-animate">
       <!-- <span class="subheading">Enhanced Your Skills</span>
       <h2 class="mb-4">Learn Anything You Want Today</h2> -->
       <p>Demand is an economic principle referring to a consumer's desire to purchase goods and services and willingness to pay a price for a specific good or service”.</p>
       <p>Demand Forecasting is a process by which an individual or entity predicts the how much the consumer or customer would be willing to buy the product or use the service. Without Proper Demand forecasting it becomes impossible for any business to function. Improper Demand forecasting. would result in heavy loss. Different industry or company has different methods to predict the demands. In case of food industry, it is at most important that the demand needs to be on bulls’ eye since the food materials gets perished easily and has the fixed time frame to be used. So, the daily and weekly demand needs to be precise to avoid wastage which would otherwise increase the operating cost.</p>
       <p><a href="#" class="btn btn-primary">Get in touch with us</a></p>
     </div>
   </div>
 </div>
</div>
</div>
</div>
</div>
</section>

<!--  -->
{% endblock %}